// Please only use the block for the tenant you are deploying to. Please delete the blocks for the tenants you are NOT deploying to.

//Nle Config
resource_group_name = "rg-eucs-idam-observability"
storage_account_name= "steucsidamentratfnle"
container_name      = "tfstate"
key                 = "staff-identity-idam-entra-infra-DEPARTMENT_NAME-TEAM_NAME-nle.tfstate"


