// Please only use the block for the tenant you are deploying to. Please delete the blocks for the tenants you are NOT deploying to.

// Live Config
resource_group_name = "rg-eucs-idam-observability"
storage_account_name= "steucsidamentratf"
container_name      = "tfstate"
key                 = "staff-identity-idam-entra-infra-DEDSAI-DMET-live.tfstate"
